<p>THis dives details </p>


<div>
<p>date: <%=  @dive.date %></p>
<p> location: <%=  @dive.location %></p>
<p> time_in: <%=  @dive.time_in %></p>
<p> time_out: <%=  @dive.time_out %></p>
 <p>psi_start: <%=   @dive.psi_start %></p>
 <p>psi_end: <%=   @dive.psi_end %></p>
 <p>weight: <%=   @dive.weight %></p>
 <p>visibility: <%=   @dive.visibility %></p>
 <p>computer: <%=   @dive.computer %></p>
 <p>air_temp: <%=   @dive.air_temp %></p>
 <p>surface_temp: <%=   @dive.surface_temp %></p>
 <p>bottom_temp:<%=   @dive.bottom_temp %></p>
 <p>comments: <%=   @dive.comments %></p>
 <p>dive_time: <%=   @dive.dive_time %></p>
 <p>diver_id: <%=   @dive.diver_id %></p>
</div>
