
<h1>Registration Scuba Dive Log Site</h1>

<%= form_for @account, url: registrations_path do |f| %>
<div class ="username">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>

<div class ="password">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class ="first_name">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class ="last_name">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div class ="email">
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>

<div class ="submit">
  <%= f.submit "Sign-Up"%>
</div>

<% end %>
